*       @gubareve @thexpiredpear
*.js    @gubareve @thexpiredpear @wickedtree
*.json    @gubareve
*.html    @gubareve @thexpiredpear @wickedtree
*.css    @gubareve @thexpiredpear
*.md    @gubareve @thexpiredpear
/images/* @gubareve
/images/logo/ @wickedtree
